* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    background-color: gray !important;
}

h1, h2 {
    color: cornflowerblue;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 3px solid gray !important;
    height: 100px;
    width: 100%;
}

th {
    border: 3px solid gray !important;
}

th, td {
    border: 2px solid gray;
    }
